
.big-title01{
    font-weight: 600;
font-size: 32px;
line-height: 130%;
text-align: center;
letter-spacing: -1px;
}

.head-line01{
    font-weight: 500;
font-size: 20px;
line-height: 130%;
}

.head-line03{
    font-weight: 500;
font-size: 16px;
line-height: 140%;
}
.head-line04{
    font-weight: 500;
font-size: 14px;
line-height: 130%;
}
.text-white{
    color: white;
}
.body-04{
    font-weight: 400;
font-size: 14px;
line-height: 130%;
}
.heading-06{
    font-weight: 600;
font-size: 14px;
line-height: 20px;
}
.heading-03{
    font-weight: 600;
font-size: 22px;
line-height: 135%;
}
.heading-06{
    font-weight: 600;
font-size: 14px;
line-height: 20px;
}
.heading-01{
    font-weight: 600;
font-size: 30px;
line-height: 134%;
/* or 40px */

text-align: center;
letter-spacing: -0.5px;
}
.botton-sizem{
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 145%;
/* or 20px */

text-transform: capitalize;
}
@media only screen and (max-width: 991px) {

    .heading-01{
        font-size: 24px;
    }
    .big-title01{
        font-size: 26px;
    }
}