#home-page{
    background-color: #222631;
    color:#fff;
    .home-inner{
        display: flex;
    }
    .left-size{
        width: 50%;
    }
    .right-size{
        width: 50%;
    }
    .title-downapp{
        font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
margin-top: 50px;
    }
    .ant-tabs{
        color:#fff;
    }
    .qr-code{
        width: 240px;
        height: 240px;
        margin-top: 32px;
        svg{
            width: 100%;
            height: 100%;
        }
    }
    .wrap-have-account{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom{
        padding:15px;
        font-weight: 500;
font-size: 12px;
line-height: 140%;
letter-spacing: -0.2px;
border-top: 1px solid #FFFFFF;
margin-top:32px;
    }


    @media only screen and (max-width: 991px) {
        .home-inner{
            flex-direction: column;
            align-items: center;
        }
        .tab{
            margin-top: 30px;
        }
        .wrap-footer-home{
            flex-direction: column;
            .col-footer:first-child{
                margin-bottom: 30px;
            }
        }
        .left-size{
            width: 100%;
            max-width: 400px;
        }
        .right-size{
            width: 100%;
            max-width: 400px;
        }


      }


}
