footer {
    .mtt-3 {
        margin-top: 12px;
    }
    .col-footer {
       
          width: 100%;
        
      }
      a{
        text-decoration:none;
      }
      
     .col-footer:last-child {
        
          margin-bottom: 0;
        
      }
    .small-caption{
        font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: -.2px;
    }
    .font-size12{
        font-size: 12px;
    }
    padding: 40px 0 0 0;
    background-color: #222631;
    color: #fff;

    .footer-socials-item {
        margin-bottom: 8px;

        &:not(:last-child) {
            margin-right: 12px;
        }
    }

    .footer__logo {
        margin-bottom: 16px;
        display: block;
    }

    .title {
        font-weight: 700;
        font-size: 14px;
        line-height: 145%;
        margin-bottom: 16px!important;
        text-align: left!important;
    }

    .font-size12 {
        line-height: 1.4em;
        color: #fff;
        display: block;
    }

    a.font-size12 {
        &:hover {
            color: #FDD116;
        }
    }

    .footer-bottom {
        margin-top: 30px;
        padding: 15px;
        border-top: 1px solid #fff;
    }

    .item {
        cursor: pointer;
        font-size: 12px;
        line-height: 1.4rem;
        margin-bottom: 12px;
        color: #fff;

        &:hover {
            color: #FDD116;
        }
    }

    .wrap-col-footer {
        flex-wrap: wrap;
        row-gap: 24px;
        padding:0 15px
    }

}

.flex-column-mobile {
    display: flex;

    @media only screen and (max-width: 1199px) {
        flex-direction: column;

        .mt-2-mobile {
            margin-top: 5px;
        }
    }
}

.flex-column-mobile-991 {
    display: flex;

    @media only screen and (max-width: 991) {
        flex-direction: column;

        .mt-2-mobile {
            margin-top: 5px;
        }
    }
}