

.Table {
  .ant-table{
    background:transparent;
  }
  .ant-table-tbody > tr.ant-table-row:hover > td, .ant-table-tbody > tr > td.ant-table-cell-row-hover{
    background: none;
  }
  .ant-table-container table > thead > tr:first-child th:first-child{
    border-radius: 8px 0px 0px 0px;
  }
  .ant-table-container table > thead > tr:first-child th:last-child {
    border-radius: 0px 8px 0px 0px;
}
  .ant-table-thead {
    .ant-table-cell {
      background: #fdd116;
      font-weight: 500;
font-size: 14px;
line-height: 130%;
color: #000;

      &::before {
        display: none;
      }
    }
    // th:first-child{
    //     border-radius: 8px 0px 0px 0px;

    // }
    // th:last-child{
    //     border-radius: 0px 8px 0 0;

    // }

  }
.ant-table-tbody{
    tr:last-child{
        td:first-child{
            border-radius:0px 0 0px 8px;
        }
        td:last-child{
          border-radius:0px 0 8px 0px;
        }

    }
    td:first-child{

    }
    td:last-child{
 
    }
    .ant-table-placeholder{
      td:last-child{
        border-radius:0px 0 8px 8px!important;
      }
    }
}

  .ant-table-tbody {
    .ant-table-row {

        .ant-table-cell {
          border-bottom: 1px solid #fff;
       
        }
      
    }

    .ant-table-cell {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
    }
  }

  .ant-table-cell {
    color: #fff;
    text-align: center;
    white-space: nowrap;

    &:first-child {
      text-align: left;
      border-left: 1px solid #fff;
    }
    &:last-child{
      border-right: 1px solid #fff;
    }
  }
}

.pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    li {
      list-style: none;


    }
    li.selected {

      a{
        background: #eeeeee;
      }
    }
    a{
        
        text-decoration: none;
        width: 30px;
        height: 30px;
        border: 1px solid #FFFFFF;
        border-radius: 4px;
        justify-content: center;
        align-items: center;
        display: flex;
        margin-right: 10px;
        font-weight: 500;
  font-size: 14px;
  line-height: 130%;
    }
    .previous a,.next a{
        color: #fff;
    }
}
